<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
        <link rel = "stylesheet" type = "text/css" href = "/static/styles/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="/static/scripts/jquery-2.1.1.min.js"></script>
    </head>

    <body onload = "initialise()">
        <div id = "container">

            <div id = "header">
                <img id = "header" src="{{ header_path }}" style = "width:100%; height:100%;">
            </div>

            <div id = "cafeTable">
            </div>
        </div>
        <!--
        <br>
        <button onclick="stampRecorded(136, 1)">Stamp!</button>
        <br>
    	<p id="debug">DEBUG</p>
-->
    </body>
    <script src="/static/scripts/scripts.js"></script>
</html>
